{
    zephyr,user {
        i2c_dev = &i2c0;
    };
};

&i2c0 {
    compatible = "nordic,nrf-twi";
    status = "okay";

    sda-pin = <D3>;
    scl-pin = <D4>;
};


&ssp0 {
    status = "disabled";
};

&oled {
    compatible = "solomon,ssd1306fb-i2c";
    status = "okay";
    label = "SSD1306";

    reg = <0x3C>;  /* typical OLED I2C address */
    width = <128>;
    height = <32>;

    segment-offset = <0>;
    page-offset = <0>;
    display-offset = <0>;
    multiplex-ratio = <31>;

    bus-speed = <400000>;
    pw-active = <0>;
};
