&i2c0 {
    status = "okay";
    sda-pin = <20>;   /* SDA = P0.20 */
    scl-pin = <22>;   /* SCL = P0.22 */
    clock-frequency = <400000>;

    oled: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;   /* Common OLED I2C address */
        label = "OLED";
        width = <128>;
        height = <64>;
        rotation = <0>;
    };
};