&i2c0 {
    status = "okay";
    sda-pin = <22>;
    scl-pin = <20>;
    clock-frequency = <400000>;

    oled: ssd1306@3c {
        compatible = "zmk,oled-ssd1306";
        reg = <0x3c>;
        width = <128>;
        height = <32>;
        segment-offset = <0>;
        com-offset = <0>;
        rotation = <0>;
    };
};